COMPOSE_PROJECT_NAME=nguontin
FRONTEND_PORT=3007
BACKEND_PORT=8008
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8008
INTERNAL_API_BASE_URL=http://backend:8000
APP_NAME=NguonTin API
APP_ENV=development
APP_VERSION=0.1.0
